img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.char{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 100%;
    border-radius: 30px;;
    
}